name: CI

on:
  push:
    branches: [ main ]
  pull_request:

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/iris-streamlit

jobs:
  build-test-and-push:
    runs-on: ubuntu-latest

    # Needed to push to GHCR
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Train model (create app/model.joblib)
        run: python train_model.py

      - name: Run tests
        run: pytest

      - name: Log in to GitHub Container Registry
        run: echo "${{ github.token }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:latest .

      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME:latest
